body {
    font-family: 'roboto';
    font-style: normal;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    border-bottom: 2px solid var(--backgroundDark);
    padding: 10px;
}

.listItem:hover {
    background-color: rgba(37, 127, 234, 0.2);;
}

.textHeader {
    display: flex;
    flex-wrap: nowrap;
}

.title {
    margin-right: 10px;
}

.descr {

}

.category {

}
