.inputWrapper {
    position: relative;
}

.textArea {
    font-size: 20px;
    line-height: 46px;
    width: 752px;
    height: 72px;
    padding: 0 0.5rem;
    border: 2px solid #3F72AF;
    border-radius: 4px;
    background-color: transparent;
    appearance: none;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    resize: none;
}

.textArea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.label {
    position: absolute;
    top: -10px;
    left: 12px;
    font-size: 18px;
    line-height: 20px;
    color: var(--backgroundDark);
    background-color: var(--background);
}
